<!DOCTYPE html>
<html lang="en">
<head>
<title>Helpbit - Get Services On the Go</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Helpbit Services Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free web designs for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
	function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<!-- Custom Theme files -->
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/fasthover.css" rel="stylesheet" type="text/css" media="all" />
<link href="css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
<!-- //Custom Theme files -->
<!-- font-awesome icons -->
<link href="css/font-awesome.css" rel="stylesheet"> 
<!-- //font-awesome icons -->
<!-- js -->
<script src="js/jquery.min.js"></script>
<link rel="stylesheet" href="css/jquery.countdown.css" /> <!-- countdown --> 
<!-- //js -->  
<!-- web fonts --> 
<link href='//fonts.googleapis.com/css?family=Glegoo:400,700' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<!-- //web fonts -->  
<!-- start-smooth-scrolling -->
<script type="text/javascript">
	jQuery(document).ready(function($) {
		$(".scroll").click(function(event){		
			event.preventDefault();
			$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
		});
	});
</script>
<!-- //end-smooth-scrolling --> 
</head> 
<body>
	<!-- for bootstrap working -->
	<script type="text/javascript" src="js/bootstrap-3.1.1.min.js"></script>
<div class="navigation">
		<div class="container">
			<nav class="navbar navbar-default">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header nav_2">
				<a class="navbar-brand" href="#" style = "padding-left: 0px; color: white">Helpbit</a>
					<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div> 
				<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
					<ul class="nav navbar-nav">
						<li><a href="/">Home</a></li>
						 <% if(currentUser&&(currentUser.id== admin )){ %>
								<li><a href="/additems">Add Items</a></li>
								<li><a href="/requests">Requests</a></li>

			                <% } %> 
							<%  if(currentUser){ %>
								<div class="nav navbar-nav navbar-right">
	    	    	            	<li><a href="#">Signed in as <%= currentUser.name %></a></li>
					                <li><a href="/logout">Logout</a></li>
	            				</div>	
			            	<%	}  %>

					</ul>
				</div>
			</nav>
		</div>
	</div>

<div class="container">
	<% if (error && error.length > 0){ %>
        <div class = "alert alert-danger">
          <%= error %>
        </div>
      <% } %>
      <% if (success && success.length > 0){ %>      
        <div class = "alert alert-success">
          <%= success %>
        </div>
      <% } %>
</div>	

<div class = "jumbotron" style = "height: 100%; margin-top: 30px;">
	<div class = "container">
		
		<div class = row>
	    <div class="col-lg-12">
	                 <!-- Traffic sources -->
	    <div class="panel panel-flat">
	            
	    <div class="container-fluid">
	        <div class="row">                                        
	        <div class="col-lg-12">
	                    <!-- Registration form -->
                    <form action="/serviceproviderrequest" method = "post">
                        <div class="row">
                            <div class="col-lg-6 col-lg-offset-3">
                                <div class="panel registration-form">
                                    <div class="panel-body">
                                    	<div class="text-center">
                                            <h3 class="display-3">Become Service Provider</h3>
                                        </div>

                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="email" class="form-control" placeholder="Your Valid Email" name = "email" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="password" class="form-control" placeholder="Set Password" name = "password" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>                                            

                                        </div>
<!-- ===================================== -->
                                        <div class="row">

                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="First Name" name = "firstname" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Last Name" name = "lastname" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                        <!-- ====================== -->

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Your Company Name" name = "companyname" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Company Location" name = "location" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>       
                                        <div class="row">
		                                    <div class="col-md-12">
		                                        <div class="form-group has-feedback">
		                                            <select class = "form-control" name = "servicetype" required="">
		                                                <option value="" selected disabled hidden>Choose type Of Service</option>
		                                                <option value = "electronics" >Electronics</option>
		                                                <option value = "fashion" >Fashion</option>
		                                                <option value = "home" >Home</option>
		                                                <option value = "beauty" >Beauty</option>
		                                                <option value = "automotive" >Automotive</option>
		                                                <option value = "storage" >Storage</option>
		                                                <option value = "fitness" >Fitness</option>
		                                                <option value = "moving" >Moving</option>
		                                                <option value = "petcare" >Pet Care</option>
		                                            </select>
		                                            <div class="form-control-feedback">
		                                            </div>
		                                        </div>

		                                    </div>
                                            
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="text" class="form-control" placeholder="Your CNIC" name = "cnic" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="submit" class="form-control btn btn-primary btn-block" value="Signup Here" />
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div>

                                        </div>    

<!--                                             <div class="col-md-6">
                                                <div class="form-group has-feedback">
                                                    <input type="password" class="form-control" placeholder="Set Password" name = "password" required>
                                                    <div class="form-control-feedback">
                                                    </div>
                                                </div>
                                            </div> -->                                            

                                      <!--   </div> -->

<!--                                         <div class="text-right">
                                            <button type="submit" class="btn btn-primary"><b><i class="icon-plus3"></i></b>Signup</button>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                            </div>
                        </div>
                    </div>                             
                <div class="position-relative" id=""></div>
            </div>
            <!-- /traffic sources -->
        </div>
    </div>		
	</div>
</div>

</body>
</html>	